/* https://www.w3schools.com/howto/howto_css_two_columns.asp */
/* https://developer.mozilla.org/es/docs/Web/CSS/box-sizing */
/* Así definimos el comportamiento de caja para todos los elementos */
body {
    background: no-repeat;
    background-image: url(FondoFinal.jpg);
    background-size: cover;
  }
  * {
      box-sizing: border-box;
    }
  
  @font-face {
    font-family: "PokemonBlanco";
    src: url("LetraPokemon.ttf");
  }
   
  /* Crear columnas de ancho diferente que se colocan una a continuación de la otra */
  .columna {
  float: left;
  padding: 10px;
  min-height: 500px;
  }
  
  .izquierda {
  width: 25%;
  }
  
  .derecha {
  width: 75%;
  }
  
  /* Cabeceras */
  h1 {
    font-family:"PokemonBlanco";
    font-size: 50px;
    text-align: center;
    text-shadow:4px 4px  #ffcb51;
    /* border-bottom: none; */
    padding: 10px;
    margin: 50px;
    margin-bottom: 0px;
    }
    
  .titulo{
    font-family:"PokemonBlanco";
    font-size: 20px;
    text-align: center;
    text-shadow:4px 4px  #ffcb51;
    border-bottom: #ffcb51 10px double;
    /* border-bottom: none; */
    padding: 0px;
    margin: 50px;
    margin-bottom: 0px;
  
  }
  .referencias{
    font-family:"PokemonBlanco";
    font-size: 20px;
    text-align: center;
    text-shadow:4px 4px  #ffcb51;
    padding: 0px;
    margin: 50px;
    margin-bottom: 0px;
    width: 90%
  
  }
  .parrafos{
    font-family:"PokemonBlanco";
    font-size: 10px;
    color: rgb(255, 255, 255);
    text-align: left;
    /* border-bottom: #ffcb51 10px double; */
    /* border-bottom: none; */
    padding: 0px;
    margin: 10px;
    margin-bottom: 0px;
  
  }
  
  .video{
    text-align: center;
  }
  
  /* Clear floats despues de las columnas para eliminar la superposición */
  .fila:after {
  content: "";
  display: table;
  clear: both;
  }
  
  #c1 {
    background-color: rgba(0, 0, 0, 0.7);
    border: #ffcb51 10px double;
    padding: 10px;
  }
  
  #c2 {
    background-color: rgba(0, 0, 0, 0.7);
    border: #ffcb51 10px double;
    padding: 10px;
  }
  
  /* estilos para imágenes https://www.w3schools.com/css/css3_images.asp */
  /* posicionamiento de imágenes https://www.w3schools.com/css/css_positioning.asp */
  
  
  img {
      width: 100%;
      height: auto;
      margin-bottom: 0px
  }
  
  .imagen {
      float: left;
      width: 100%;
      border: #ffcb51 10px double;
      margin: 0px;
      padding: 20px;
    }
  
  
  /* Estilo del gif */
  .gif{
    position: absolute;
    left:260px;
  }
  
  
  /* Responsive layout - cuando el ancho de pantalla es menor a 600px, muestra las columnas apiladas. */
  /* Así conseguimos que el contenido se vea bien en dispositvos móviles */
  
  @media screen and (max-width: 600px) {
      .columna {
        width: 100%;
      }
  
      .iresponsive {
          width: 100%;
      }
  }
  
  /* Más sobre diseño web responsive https://www.w3schools.com/css/css_rwd_intro.asp */